{% extends "base.html" %}
{% block home %}<li><a href="/" id="active">Home</a></li>{% endblock %}

  

{% block down %}
<section class="contener">
  <div class="register">
    <h2 class="tagline">Empowering Individuals<br> With Personal <br> Health</h2>
    <a href="/register">Get Started</a>   
  </div>
  <div class="man">
    <img class="teg" src="../static/img/side design.png" alt="">
  </div>
</section>


<div class="bigblock">
  <div class="imgblock">
    <img src="../static/img/motive.png" alt="motive">
    <h3>Our motive</h3>
  </div>
  <div class="block">
    
    <p class="about">
      A monotonous waiting room with long queues desperately waiting to visit the doctors as
      soon as possible in hospitals and on the other hand gloomy fails of the patients there with 
      their painful cries. <br>
      Well, this was the situation of hospitals a few year back now things are changing with the 
      speed of technology Advanced healthcare facilities healthcare mobile application and an all 
      new concept of sehat diary are turning the whole face of the healthcare domain. <br>
      Perhaps no other sectors has taken the grate benefits of internet of things then healthcare
      be it for doctors, researchers patients, Labs.  <br>
      Sehat diary in health care is actually a vibrant force doctors can now monitor patients’
      health and improvement continuously while patients in the other hand can connect with 
      their doctors easily. <br>
      Laboratories can collect sample easily and rapidly in their labs or form patients home also 
      Though technology cannot stop the population form aging or eradicating chronic disease 
      but it can make healthcare easier in a pocket <br>
      Hence it is not wrong to say that healthcare is one of the most exciting yet challenging for us 
      while posing a great future scope of sehat diary in healthcare
      
    </p>
  </div>
</div>
{% endblock  %}